/* Colors: https://gist.github.com/r-malon/8fc669332215c8028697a0bbfbfbb32a */

body {
    background-color: #2e2e2e;
    color: #d6d6d6;
    font-family: Monaco, monospace;
    margin: 0 auto;
    width: 60vw;
    display: block;
}

header {
    border-bottom: 1px solid #e87d3e;
}

section {
    margin-top: 40px;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #e87d3e;
}

pre {
    background-color: #797979;
    border: 1px solid #b4d273;
    border-radius: 20px;
    padding: 8px;
    margin: 3%;
    font-family: monospace;
    letter-spacing: 0.05rem;
    line-height: 1.4em;
}